html, body {
  height: 100%;
}

body {
  font-family: 'Asap', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Flamenco', cursive !important;
}

.error {
  color: red;
}

.header {
  margin-left: 200px;
}

.sidebar {
  text-align: center;
  position: fixed !important;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #443266;
  width: 200px;
  padding-top: 25px;
}

.content {
  margin-left: 200px;
  width: auto;
}

.list-group-item {
  background-color: #443266 !important;
  border: none !important;
}

.nav-link, .icons {
  color: #F1F0FF !important;
}

.nav-link:hover, .icons:hover {
  color: #C3C3E5 !important;
}

.selected .icons, .selected .nav-link{
  color: #8C489F !important;
}

.icons {
  margin-right: 5px;
}

.workoutHeader {
  display: inline-block;
}
